

{% extends 'base/head.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block head %}


    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static 'style.css' %}" />

    {% endblock head %}
{% block body %}
{% if mode %}
    <div class="container {{ mode }}">
    {% else %}
    <div class="container">

    {% endif %}
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" method="POST" class="sign-in-form">

            {% csrf_token %}

            <img src="{% static 'logo.png' %}" alt="">
            <h2 class="title">EventTray Organizer</h2>

            <h2 class="">SIGN IN</h2>
            <!-- <div class="input-field"> -->
              {{  form }}
              <!-- <input type="text" placeholder="Phone Number 09- Format" /> -->
            <!-- </div> -->
         
            <input type="submit" value="Get Code" name="login" class="btn solid" />

            <!-- <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div> -->

          </form>

          <form action="#" method="POST" class="sign-up-form">
            <h2 class="">SIGN UP AS AN ORGANIZER</h2>

            {% csrf_token %}
            {{ form2 }}
            <!-- <h2 class="title">Sign up</h2> -->
            <!-- <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" />
            </div> -->
            <input type="submit" class="btn" name="signup" value="Sign up" />
<!--             
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div> -->
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New to Event Organizer Portal?</h3>
            <p>
              Create an account and become and organizer. Sell Tickets and Collect Payments Easily!
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="{% static 'img/log.svg' %}" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Then Log back in and Manage your events!
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="{% static 'img/register.svg' %}" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="{% static 'app.js' %}"></script>

    {% endblock body  %}

