{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

<nav class="navbar navbar-header navbar-expand-lg">
				
    <div class="container-fluid">
        <div class="collapse" id="search-nav">
         
        </div>
        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
  
            <li class="nav-item dropdown hidden-caret">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                    <div class="avatar-sm">
                        <img src="{{ user.profilePicture.url }}" alt="..." class="avatar-img rounded-circle">
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <li>
                        <div class="user-box">
                            <div class="avatar-lg"><img src="{{ user.profilePicture.url }}" alt="image profile" class="avatar-img rounded"></div>
                            <div class="u-text">
                                <h4>{{user.firstName}}</h4>
                                <p class="text-muted">{{user.email}}</p><a href="{% url 'organizer-profile' user.username %}" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                        <!-- <a class="dropdown-item" href="{% url 'organizer-profile' user.username %}">My Profile</a> -->
                        <!-- <a class="dropdown-item" href="#">My Balance</a>
                        <a class="dropdown-item" href="#">Inbox</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Account Setting</a>
                        <div class="dropdown-divider"></div> -->
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
</nav>